<script src="{{ url_for('static', filename='js/user_new/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/contactform.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_new/script.js') }}"></script>