<!DOCTYPE html>
<html lang="en">

<head>
    <title>Klinik Kecantikan</title>
    {% include 'base/admin/head.html' %}
</head>

<body>

    {% include 'base/admin/sidebar.html' %}

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog" data-booking-id="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Konfirmasi Status Konsultasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Konfirmasi status konsultasi pasien?</p>
                    <span style="color: red; font-size: 12px;"> * Konfirmasi hanya bisa dilakukan sekali.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="rejectStatus()">Tolak</button>
                    <button type="button" class="btn btn-primary" onclick="confirmStatus()">Konfirmasi</button>
                </div>
            </div>
        </div>
    </div>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Jadwal Konsultasi</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('DBhome.dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item active">Jadwal Konsultasi</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body data-tbdate">
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <h5 class="card-title mb-0">Jadwal Konsultasi ke Dokter</h5>
                            </div>

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div id="alerts-container">
                                {% for category, message in messages %}
                                <div
                                    class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-5">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            <script>
                                function removeAlert() {
                                    let alertsContainer = document.getElementById('alerts-container');
                                    if (alertsContainer) {
                                        let alerts = alertsContainer.getElementsByClassName(
                                            'alert');
                                        for (let i = 0; i < alerts.length; i++) {
                                            let alert = alerts[i];
                                            setTimeout(function () {
                                                alert.remove();
                                            }, 3000);
                                        }
                                    }
                                }

                                removeAlert();
                            </script>
                            {% endif %}
                            {% endwith %}

                            <div class="table-responsive">
                                <div class="filter-container">
                                    <form action="/search" method="POST" class="filter-form">
                                        <div class="form-group">
                                            <label for="start_date">Tanggal Mulai:</label>
                                            <input type="date" id="start_date" name="start_date"
                                                value="{{ start_date }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="end_date">Tanggal Selesai:</label>
                                            <input type="date" id="end_date" name="end_date" value="{{ end_date }}"
                                                required>
                                        </div>
                                        <button type="submit" class="btn-search">Search</button>
                                    </form>
                                    <button id="exportBtn" class="btn btn-secondary ms-2 custom-exp">Export to Excel</button>
                                </div>


                                <table class="table table-striped datatable mt-3">
                                    <thead>
                                        <tr>
                                            <th>Nama Pasien</th>
                                            <th>Nama Dokter</th>
                                            <th>Telp Pasien</th>
                                            <th>Tanggal Konsultasi</th>
                                            <th>Jadwal Konsultasi</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in results %}
                                        <tr>
                                            <td>{{ data.spcustomer.name }}</td>
                                            <td>{{ data.spdoctor.profile.name }}</td>
                                            <td>{{ data.telp }}</td>
                                            <td>{{ data.date }}</td>
                                            <td>{{ data.time }}</td>
                                            {% if data.status == "waiting" %}
                                            <td><button class="status-button status-pending"
                                                    onclick="showConfirmation('{{ data.id }}')">Pending</button></td>
                                            {% elif data.status == "confirmed" %}
                                            <td><button class="status-button status-scheduled">Terjadwal</button></td>
                                            {% elif data.status == "rejected" %}
                                            <td><button class="status-button status-rejected">Ditolak</button></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    {% include 'base/admin/foot.html' %}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
<script>
    document.getElementById('exportBtn').addEventListener('click', function () {
        // Ambil tabel HTML
        var table = document.querySelector('.table');

        // Konversi tabel HTML ke workbook
        var wb = XLSX.utils.table_to_book(table);

        // Simpan workbook sebagai file Excel
        XLSX.writeFile(wb, 'data.xlsx');
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-button');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                const id = this.dataset.id;
                const confirmation = confirm(
                    'Apakah Anda yakin ingin menghapus data dokter ini?');
                if (confirmation) {
                    fetch('/hapus-data-dokter', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: `id=${id}`
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.reload();
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });
    });
</script>


</html>