<!DOCTYPE html>
<html lang="en">

<head>
    <title>Klinik Kecantikan</title>
    {% include 'base/user/head.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/bootstrap.min.css') }}" />

</head>

<body>

    <section id="banner">
        <div class="bg-color">
            {% include 'base/user/sidebar.html' %}
            <div class="container">
                <div class="row">
                    <div class="inner text-center">
                        <h1 class="logo-name">Klinik Kecantikan</h1>
                        <h2>Apa itu treatment?</h2>
                        <p style="font-size: 20px;">Treatment kecantikan adalah prosedur yang bekerja pada kulit untuk
                            mengatasi masalah kulit. Dengan melakukan treatment secara rutin, maka masalah kulit akan
                            hilang dan membuat kulit tampak sehat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="card2 formbold-main-wrapper">
        <div class="card-body">
            <h5 class="card-title">Form Jadwal Konsultasi</h5>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div id="alerts-container">
                {% for category, message in messages %}
                <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-5">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <script>
                function removeAlert() {
                    let alertsContainer = document.getElementById('alerts-container');
                    if (alertsContainer) {
                        let alerts = alertsContainer.getElementsByClassName(
                            'alert');
                        for (let i = 0; i < alerts.length; i++) {
                            let alert = alerts[i];
                            setTimeout(function () {
                                alert.remove();
                            }, 3000);
                        }
                    }
                }

                removeAlert();
            </script>
            {% endif %}
            {% endwith %}

            <!-- Vertical Form -->
            <form class="row g-3 mt-2" method="POST" action="{{ url_for('home.formkonsultasi') }}">
                <input type="hidden" name="id" value="{{doctors.id}}">
                <div class="col-md-12 mb-3">
                    <label for="name" class="form-label">Nama & Gelar Dokter<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" value="{{doctors.name}}" readonly>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="inputPhone" class="form-label">Telepon <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="telp" id="inputPhone"
                                placeholder="masukkan nomer telepon anda" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="inputDate" class="form-label">Tanggal Konsultasi <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" type="date" name="date" id="inputDate" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="inputTime" class="form-label">Jam Konsultasi <span
                                    class="text-danger">*</span></label>
                            <select class="form-control" id="inputTime" name="time" required>
                                <option value="" disabled selected>Pilih Jam Konsultasi</option>
                                {% for time_slot in time_slots %}
                                <option value="{{ time_slot }}" data-confirmed="false">{{ time_slot }}
                                </option>
                                {% endfor %}

                            </select>
                            <small id="error-message-time" class="text-danger"></small>
                        </div>
                    </div>

                </div>
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">Buat Jadwal Sekarang</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Klinik Kecantikan</h4>
                        <address>Yogyakarta Indonesia</address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

{% include 'base/user/foot.html' %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".formbold-main-wrapper").scrollIntoView({
            behavior: 'smooth'
        });
    });
</script>

</html>